<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Server Learning - 404 Not Found</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    {{>header}}
    {{error}}
    {{>footer}}
    {{>commonScripts}}
  </body>
</html>
