<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Server Learning {{title}}</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <main>
      {{>header}}
      <img src="img/TSR_Sonic.png" width="100" />
    </main>
    {{>footer}}
    {{>commonScripts}}
  </body>
</html>
