html, body {
  box-sizing: border-box;
  color: darkslategrey;
  font-size: 16pt;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  color: navy;
  text-decoration: none;
}

a:hover, a:focus {
  color: lightcoral;
  text-decoration: dashed;
}

header {
  padding: 16px 8px;
}

h1 {
  color: darkslategrey;
}

nav {
  align-items: center;
  flex-wrap: no-wrap;
  display: flex;
  padding-bottom: 24px;
  border-bottom: 1px solid lightgrey;
}

nav > a {
  text-transform: uppercase;
  font-size: 0.7em;
}

nav > a:not(:last-of-type) {
  margin-right: 16px;
}

main {
  flex: 1;
  margin: 0 auto;
  min-width: 400px;
}

button {
  border-radius: 0;
  background-color: slategrey;
  color: white;
  border-style: solid;
  padding: 10px;
  min-height: 32px;
  cursor: pointer;
}

input {
  border: 1px solid slategrey;
  min-height: 32px;
  border-radius: 0;
  padding: 3px 5px;
}

footer {
  padding: 48px 16px;
  color: lightgray;
  background-color: #222222;
}

.error {
  font-size: 0.7em;
  color: darkred;
}

.weather {
  color: darkslategrey;
  font-size: 0.7em;
}

.weather-description {
  align-items: flex-start;
  flex-direction: row;
  display: flex;
}

.weather-info {
  padding: 0 16px;
}

.weather-info p {
  margin-top: 0;
  margin-bottom: 8px; 
}

.results {
  margin-top: 32px;
}
